*.vcf
*.idx
*.out
*.gz
*.stats
*.tbi
tumour_vcfs/
normal_vcfs/
slurm-submit.general
normals_for_pon_vcf.args
logs_slurm/
.snakemake/
download_history.txt
funcotator_dataSources.v1.6.20190124s/
germline_metadata.tsv
somatic_metadata.tsv
*.csi
matched_normal_example.txt
profile/
tmp.R
legacy/
ensembl-vep/
*.tsv
